.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1em;
}

.data-table td,
thead {
  padding-right: 60px;
  text-align: left;
}